body{
    margin: 0;
    background: #fffbe4;
}

.header {
    height: 50px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    width: 960px;
    margin: 5px auto;
    font-family: "Century Gothic", serif;
}

#pagetitle {
    vertical-align: middle;
    font-size: 34px;
    margin: 0 auto;
    float: left;
}

#loggedinDisplay {
    font-size: 14px;
    margin: 0 auto;
    float: right;
    vertical-align: bottom;
    padding-right: 5px;
}

.content {
    width:960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 20px auto;
    font-family: "Century Gothic", serif;
}